body{
    box-sizing: border-box;
    margin: 0;
    
}
:root{
    -backcolrnav:#F5F5F5;

}
.Home{
    position: relative;
    flex-direction: column;
}
@media (max-width:767px) {
    
    .Navbar{
        width: 100%;
    }
    .logo{
        width: 10.2px;
        height: 15px;
        left: 10px;
    }
    .logo2{
        width: 50px;
        height: 30px;
        left: 10px;
    }
    .Vector{
        left: 99%;
    }
    .banner{
        width: 100%;
    }
    
}
.Navbar{
    position: relative;
    flex-direction: row;
    padding: 10px;
    height: 40px;
    background-color: var(-backcolrnav);
}
.logo{
   
    position: absolute;
    width: 54.55px;
    height: 52px;
    left: 30px;
    top: 21px;
}
.logo2{
    position: absolute;
    width: 254px;
    height: 40px;
    left: 114.55px;
    top: 27px;
   
    
    color: #FE8A00;
}
.Vector{
position: absolute;
left: 93.83%;
right: 20.83%;
top:27px;
bottom: 16.67%;
}
.banner{
    position: absolute;
    width: 100%;
    height: 363.99px;
    left: 0px;
    top: 94.01px;
    background: #FE8A00;
    flex-direction: row;
}
.img1{
position: absolute;
width: 253px;
height: 363.99px;
transform: matrix3d(-1, 0, 0, 1, 0, 0);
}
.iconbanner{
    position: absolute;
width: 994.38px;
height: 327.89px;
left: 195.01px;
}
.p1{
    position: absolute;
width: 367.91px;
height: 101.11px;
left: 350.52px;
top: 150px;
font-family: 'Outfit';
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
}
.img2{
    position: absolute;
width: 253px;
height: 363.99px;
right: 0;
}
.product{
    position: absolute;
    flex-direction: column;
   
}
.pro{
    position: absolute;
width: 368px;
height: 59px;
left: 536px;
top: 486px;
font-size: 25px;
font-family: 'Outfit';
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;
color: rgba(0, 0, 0, 0.75)
}
.data{

    position: relative;
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows: repeat(2,1fr);
   gap: 30px;
   padding: 55px;
   top:560px;
}
@media (max-width:767px) {
  
    .logo{
       
        position: absolute;
        width: 30.55px;
        height: 35px;
        left: 20px;
        top: 21px;
    }
    .logo2{
        position: absolute;
        width: 150px;
        height: 30px;
        left: 65.55px;
        top: 27px;
       
        
        color: #FE8A00;
    }
   
    .Vector{
   
    left: 85.83%;
    right: 20.83%;
    top:25px;
    bottom: 16.67%;
    }
    .banner{
    
        width: 100%;
    }
    .img1{

    width: 103px;
    height: 363.99px;
  
    }
    .iconbanner{
       
    width: 120.38px;
    height: 70.89px;
    left: 80.01px;
    }
    .p1{
       
    width: 267.91px;
    height: 201.11px;
    left: 2.52px;
    top: 120px;
    font-size: 30px;
    
    }
    .img2{
      
    width: 100px;
    height: 363.99px;
    right: 0;
    }
    .product{
        position: absolute;
        flex-direction: column;
       
    }
    .product{
        width: 100%;
    }
    .pro{
        width: 150px;
        height: 40px;
        left: 150px;
        left: 150px;
        padding-bottom: 20px;
     top: 480px;
        font-size: 30px;
      

    }
   
    .data{
        padding-top: 40px;
        padding: 25px;
        justify-content: center;
    grid-template-columns:repeat(2, 1fr);
    gap: 15px;

    
    }
    .imd{
        height: 200px;
        width: 180px;
    }
   
    .a{
        font-size: 18px;
        font-weight: 300px;
    }
    .h{
                        
        left: 130px;
      top: 20px;
    }
    .b{
        font-size: 16px;
    }

    }
    @media (min-width:768px)and (max-width:1023px) {
        .banner{
            width: 100%;
        }
        .data{
            padding: 25px;
            justify-content: center;
        grid-template-columns:repeat(2, 1fr);
        gap: 10px;
        width: 90%;
        }
        .pro{
         left: 190px
       
        }
            .imd{
                height: 300px;
                width: 30%;
            }
           
                .iconbanner{
                 
                width: 25.38px;
                height: 50.89px;
                left: 10.01px;
                }
                .p1{
                   
                width: 400.91px;
                height: 101.11px;
                left: 200.52px;
                }
                .img2{
                width: 200px;
                }
                .img1{
                    width: 190px;
                    }
                    .a{
                        font-size: 25px;
                        font-weight: 300px;
                    }
                    .see{
                        top: 1800px;
                    }
                    .h{
                        
                         left: 100px;
                       
                     }
                
    }
    

.d1{
    perspective: 20%;
   grid-template-rows: 70% 30%;
}
.imd{
  
width: 320px;
height: 320px;

border-radius: 16px;
}
.imd:hover{
  
    transform:  translate(10px,10px);
}
.heart:hover{
    color: #F61B5A;

}
.details{
    display: flex;
    flex-direction: column;
}
.a{
   font-size: 18px;
    font-weight: 200;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Outfit';
font-style: normal;

}
.b{
    color: rgba(0, 0, 0, 0.5);
}
.em{
    position: relative;
}
.h{
   position: absolute;
    width: 42px;
    height: 42px;
    top:25px;
    left: 260px;
    background: #FFFFFF;    
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
width: 14px;
height: 13px;
}
.h1 :hover{
    color: #F61B5A;
}
.see{
    padding-bottom:  15px;
    position: relative;
    text-align: center;
    font-weight: bold;
    top: 1484.06px;
    font-size: 30px;
color: #F61B5A;
}
a{
    text-decoration: none;
    color: #F61B5A;;
}